<div class="chat-header">
  <div class="chatroom-name">チャットルーム名</div>
  <div class="chatroom-exit">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <div class="message-top">
    <div class="message-username">Tom</div>
    <div class="message-time">2022/10/19(Wed) 12:43:30</div>
  </div>
  <div class="message-text">おはよう</div>

  <div class="message-top">
    <div class="message-username">Tom</div>
    <div class="message-time">2022/10/19(Wed) 12:43:30</div>
  </div>
  <div class="message-text">こんばんは</div>

</div>


<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>